body {
    padding-top: 60px;
}
/* @media (max-width: 979px) {
  body {
    padding-top: 0px;
  }
} */

.project-title {
  padding-top: 20px
}

.header-text {
  text-align: center;
}

.image-container {
  position: relative;
  text-align: center;
  color: white;
  transition: 0.3s linear; 
  width: 100%;
  padding-top: 10px;
  padding-bottom: 30px;
}

/* Centered text */
.centered-image-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  cursor: default;
}

.software-project-image {
  cursor: default;
  transition: 0.3s linear;
}

.image-container:hover .software-project-image {
  filter: brightness(0.3)
}

.image-container:hover > .centered-image-text{
  opacity: 1;
  transition: .4s linear;
}

.project-link {
  cursor: pointer;
}

@media only screen and (max-width: 800px) {
  .software-image img {
    width: 100%;
  }
  .centered-image-text {
    font-size: 20px;
  }
}
